<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Goblog post {{.Title}}</title>
    <meta name="description" content="{{.Description}}">
  </head>
  <body>
    {{.Body}}
  </body>
</html>
